<!DOCTYPE html>
<html>
  <head>
      <title><%= @title %></title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
      <div class="container clearfix mt-2">
        <a href="/memos/new"><input type="button" value="新規作成" class="btn btn-primary float-right"></a>
      </div>

      <%= yield %>
  </body>
</html>
